# Python
__pycache__/
*.pyc
*.pyo
venv/
.venv/
*.egg-info/

# Environnement — IMPORTANT
.env
backend/.env
*.env
!.env.example
!backend/.env.example
!frontend/.env.example

# Node
node_modules/
dist/
build/
.env.local

# VS Code
.vscode/settings.json

# Système
.DS_Store
Thumbs.db